*{

box-sizing:border-box;

}



body{

margin:0;

font-family:
Arial,
Helvetica,
sans-serif;

background:#f7f7f7;

color:#111;

}




#inicio{

height:100vh;

background:#F7E7A9;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



#inicio h1{

font-size:70px;

}



#inicio p{

font-size:22px;

}




input{


padding:18px;

width:280px;

border-radius:40px;

border:0;

font-size:16px;

}




button{


padding:15px 35px;

border-radius:40px;

border:0;

background:#111;

color:white;

margin:10px;

cursor:pointer;

font-size:16px;

}



#pagina{

display:none;

}



header{


padding:40px;

text-align:center;

background:white;

}




header h1{


font-size:60px;

}




nav{

display:flex;

justify-content:center;

flex-wrap:wrap;

padding:20px;

}



main{

padding:30px;

}



.card{


background:white;

padding:25px;

border-radius:30px;

box-shadow:
0 10px 30px rgba(0,0,0,.1);

margin-bottom:30px;

}




.galeria{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}




.galeria img{


width:100%;

border-radius:25px;

}




iframe{

width:100%;

height:352px;

border-radius:20px;

}




@media(max-width:600px){


#inicio h1{

font-size:45px;

}



header h1{

font-size:40px;

}


}